@*@{
    ViewBag.Title = "Home Page";
}*@
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <link href="~/Content/mui.min.css" rel="stylesheet" />
    <link href="~/Content/mui.picker.min.css" rel="stylesheet" />
    <style>
        .ui-page-login,
        body {
            width: 100%;
            height: 100%;
            margin: 0px;
            padding: 0px;
        }

        .mui-content {
            width: 500px;
            margin: 50px auto;
            height: 100%;
        }

        .area {
            margin: 20px auto 0px auto;
        }

        .mui-input-group {
            margin-top: 10px;
        }

            .mui-input-group:first-child {
                margin-top: 20px;
            }

            .mui-input-group label {
                width: 22%;
            }

        .mui-input-row label ~ input,
        .mui-input-row label ~ select,
        .mui-input-row label ~ textarea {
            width: 78%;
        }

        .mui-checkbox input[type=checkbox],
        .mui-radio input[type=radio] {
            top: 6px;
        }

        .mui-content-padded {
            margin-top: 25px;
        }

        .mui-btn {
            padding: 10px;
        }

        .link-area {
            display: block;
            margin-top: 25px;
            text-align: center;
        }

        .spliter {
            color: #bbb;
            padding: 0px 8px;
        }

        .oauth-area {
            position: absolute;
            bottom: 20px;
            left: 0px;
            text-align: center;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

            .oauth-area .oauth-btn {
                display: inline-block;
                width: 50px;
                height: 50px;
                background-size: 30px 30px;
                background-position: center center;
                background-repeat: no-repeat;
                margin: 0px 20px;
                /*-webkit-filter: grayscale(100%); */
                border: solid 1px #ddd;
                border-radius: 25px;
            }

                .oauth-area .oauth-btn:active {
                    border: solid 1px #aaa;
                }

                .oauth-area .oauth-btn.disabled {
                    background-color: #ddd;
                }
    </style>

</head>

<body>
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title">登录</h1>
    </header>
    <div class="mui-content">
        <form class="mui-input-group">
            <ul class="mui-table-view mui-table-view-chevron">
                <li class="mui-table-view-cell">
                    <div class="mui-button-row ">
                        <button id='areaText' class="mui-btn mui-btn-block" type='button'>选择地区</button>
                        <label id='areaValue' style="display: none;"></label>
                    </div>
                </li>
            </ul>
        </form>
        <form id='login-form' class="mui-input-group">
            <div class="mui-input-row">
                <label>账号</label>
                <input id='account' name='account' type="text" class="mui-input-clear mui-input" placeholder="请输入账号">
            </div>
            <div class="mui-input-row">
                <label>密码</label>
                <input id='password' name='password' type="password" class="mui-input-clear mui-input" placeholder="请输入密码">
            </div>
        </form>
        @*<form class="mui-input-group">
                <ul class="mui-table-view mui-table-view-chevron">
                    <li class="mui-table-view-cell">
                        自动登录
                        <div id="autoLogin" class="mui-switch">
                            <div class="mui-switch-handle"></div>
                        </div>
                    </li>
                </ul>
            </form>*@
        <div class="mui-content-padded">
            <button id='login' class="mui-btn mui-btn-block mui-btn-primary" onclick="login()">登录</button>
            @*<div class="link-area">
                    <a id='reg'>注册账号</a> <span class="spliter">|</span> <a id='forgetPassword'>忘记密码</a>
                </div>*@
        </div>
        @*<div class="mui-content-padded oauth-area">

            </div>*@
    </div>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/MyMsg.js"></script>
    <script src="~/Scripts/mui.min.js"></script>
    <script src="~/Scripts/mui.picker.min.js"></script>
    <script src="~/Scripts/mui.poppicker.js"></script>
    <script src="~/Scripts/md5.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // 区域控件 初始化
            $.ajax({
                type: "post",
                url: "/Global/GetAreas",
                async: true,
                dataType: "json",
                success: function (data) {
                    var areas = JSON.parse(data);
                    var userPicker = new mui.PopPicker();
                    userPicker.setData(areas);
                    var areaTextButton = document.getElementById('areaText');
                    areaTextButton.addEventListener('tap', function (event) {
                        userPicker.show(function (items) {
                            areaTextButton.innerText = items[0].text;
                            $("#areaValue")[0].innerText = items[0].value;
                            //返回 false 可以阻止选择框的关闭
                            //return false;
                        });
                    }, false);
                },
                error: function (error) {
                    alert("/Global/GetAreas,调用失败。" + error)
                }
            });
        })

        // 账号登录
        function login() {
            if ($("#account").val() == "" || $("#password").val() == "" || $("#areaValue").text() == "") {
                alert("地区、账号、密码，不能为空。");
                return;
            }
            var db = JSON.stringify($("#areaValue").text());
            var account = JSON.stringify($("#account").val());
            var password = JSON.stringify(md5($("#password").val()));
            $.ajax({
                type: "post",
                url: "/Auditor/Login",
                contentType: "application/json; charset=utf-8",
                data: "{db: " + db + ", account: " + account + ", password: " + password + "}",
                dataType: "json",
                success: function (data) {
                    if (data == "success") {
                        window.location.href = '/Auditor/OpenCreate';
                    } else {
                        alert(msg[data]);
                    }
                },
                error: function (error) {
                    alert('/Auditor/Login，请求失败。' + error);
                }
            });
        }
    </script>
</body>
